header {
	/* background-color:pink; */
	float:left;
	width:100%;
}	
div.logo {
	/* background-color:blue; */
	float:left;
	width:75%;
	padding-left:25%;
	
}
div.botones {
	background-color:purple;
	float:left;
	width:100%;
	
}
input.buttons {
	width:20%;
	height:30px;
	float:left;
	border:none;
	outline:none;
	border-bottom:2px;
	border-bottom-style:solid;
	background-color:black;
	font-style:bold;
	font-family:arial;
}
input.a:hover {
	background-color:#29C827;
	color:white;
}

input.a {
	color:#29C827;
}
input.b:hover {
	background-color:red;
	color:white;
}

input.b {
	color:red;
}
input.c:hover {
	background-color:#F6C30D;
	color:white;
}

input.c {
	color:#F6C30D;
}
input.d:hover {
	background-color:#0DC1F6;
	color:white;
}

input.d {
	color:#0DC1F6;
}
input.e:hover {
	background-color:#CA0DF6;
	color:white;
}
input.e {
	color:#CA0DF6;
}
input.home {
	color:white;
	background-color:#38A4A8;
}
input.home:hover {
	background-color:black;
	color:#38A4A8;
}
article {
	/* background-color:blue; */
	width:100%;
	float:left;
}
.resumen {
	font-size:40px;
	font-family:Arial Black;
	text-align:center;
	width:65%;
	float:left;	
	/* background-color:gray; */
	margin-bottom:30px;
	margin-left:5%;
	color:white;
}
div.texto-imagen-a {
	background-color:#38A4A8;
	float:left;	
	margin-bottom:2%;
	border-radius:10px;
	color:white;
	width:90%;
	/* background-color:purple; */
	margin-left:5%;
	margin-right:5%;
	font-size:16px;
}
div.visible {
	/* background-color:red; */
	float:left;	
	margin-bottom:2%;
	border-radius:10px;
	color:white;
	width:75%;
	/*background-color:purple;*/
	margin-left:1%;
	/* margin-right:5%; */
	font-size:16px;
}
/* -----------------------------------------------------+ interes----------------------------------------------------------------------- */
div.interes {
	background-color:#0C4C8A;
	float:right;	
	border-radius:10px;
	color:white;
	width:20%;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:2%;
	margin-top:3%;
	font-size:16px;
}
div.interes h1{
		text-align:center;
}
div.interesante-1{
	background-color:#5587A2;
	width:95%;
	float:left;
	margin-left:5%;
	margin-right:5%;
	font-size:16px;
	margin-bottom:10%;
	border-radius:10px;
	color:white;
	width:90%;
}
	
div.interesante-img {
	/* background-color:green; */
	float:left;	
	width:95%;
	margin-left:5%;
	margin-top:2%;
	
}
div.interesante-img img {
		border-radius:10px;
}
div.interesante-txt {
	/* background-color:blue; */
	float:left;	
	width:96%;
	word-wrap:break-word;
	margin-left:2%;
	margin-right:2%;
}
/* ---------------------------------------------------------------------------------------------- */

p.titulos-parrafo {
	font-size:20px;
	width:100%;
	font-style:bold;
	color:white;
	font-family:Arial Black;
}
div.texto {
	float:left;
	/* background-color:pink; */
	width:55%;
	margin-left:5%;

}
div.imagen {
	float:left;
	width:29;
	padding-top:1%;
	/* background-color:red; */
	margin-left:5%;
}
img.textimg {
	border-radius:10px;
}
body {
	background-image:url("../../imagenes/noticias/1.jpg" );
	font-family:arial;
	background-size:contain;
}
footer {
	float:left;
	width:100%;
	margin-top:5%;
}
div.fotter-b{
	width:100%;
	text-align:center;
	color:white;
}
div.fotter-a {
	width:100;
	color:white;
}
input.general {
	width:25%;
	color:white;
	height:30px;
	float:left;
	border:none;
	outline:none;
	border-top:2px;
	border-top-style:solid;
	background-color:#ffffff00;
	font-style:bold;
	font-family:arial;
}
input.general:hover {
	background-color:white;
	color:black;
	border-top-color:#38A4A8;
}
a:link { 
	text-decoration:none;	
} 
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	
	list-style: none;
}

.slider img {
	width: 100%;

}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
div.slider {
	/* background-color:red; */
	float:left;
	width:65%;
	margin-left:5%;
	margin-right:5%;
	
}
img.redimencionpass {
	width:100%;

	
}

div.puu{
	background-color:#ffffff00;
	float:left;	
	margin-bottom:2%;
	border-radius:10px;
	color:white;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-style:solid;
}
div.boton-felicidad {
	float:left;
	width:90%;
	background-color:#ffffff00;
	margin-left:10%;
}
input.lol {
	width:90%;
	border-bottom-color:white;
	color:white;
	border:none;
	outline:none;
	border:2px;
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	background-color:#ffffff00;
	font-style:bold;
	font-family:arial;
	border-radius:10px 10px 0px 0px;
	 
}
input.lol:hover {
	color:#38A4A8;
	background-color:white;
}
a.bladimir {
	color:red;
}
/* -----------------------------------------------------------------------contacto----------------------------------------------------------- */
div.registro {
	left:30%;
	top:5%;
	float:left;
	position:fixed;
	background-color:#0C4C8A;
	width:40%;
	height:auto;
	border-radius:40px;
	float:center;
	overflow:hidden;
	
}
div.titulo-reg {
	float:left;
	width:100%;
	color:white;
}
div.titulo-reg h1{
	text-align:center;
}
div.forn-reg {
	float:left;
	width:100%;
	/* background-color:blue; */
}
div.reg-form-a {
	/* background-color:pink; */
	float:left;
	width:98%;
	padding-left:2%;
	/* border-style:solid; */
	overflow:hidden;
}
div.reg-text {
	padding-right:1%;
	float:left;
	/* background-color:purple; */
	width:299px;
	color:white;
}
div.reg-input {
	padding-top:10px;
	padding-right:10%;
	float:left;
	width:230px;
	height:20px;
	/* background-color:yellow; */
}
div.enviar-cancelar {
	width:100%;
	height:100%;
	float:left;
	/* background-color:purple; */
	padding-top:10px;
	padding-bottom:10px;
}
div.submit {
	width:40%;
	float:left;
	height:40px;
	/* background-color:gray; */
	padding-right:5%;
	padding-left:5%;
}
div.cancelar {
	/* background-color:red; */
	width:40%;
	float:left;
	height:40px;
	padding-right:5%;
	padding-left:5%;
}
div.reg-input input {
	width:100%;
	height:100%;
	outline:none;
}
div.gris {
	top:0px;
	float:left;
	background-color:black;
	position:fixed;
	width:100%;
	height:100%;
	opacity:0.5;
}
div.reg-input-checkbox {
	float:left;
	color:white;
	width:200px;
}
textarea {
	background-image:url("../../imagenes/noticias/contacto.jpg");
	font-family:arial;
	border-radius:10px;
}	
input.button-1 {
	width:90%;
	height:100%;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	background-color:#38A4A8;
	color:white;
	outline:none;
}
input.button-1:hover{
	width:90%;
	height:100%;
	border-radius:10px;
	border-color:black;
	border-style:solid;
	background-color:#345a99;
	outline:none;
}
input.button-1:active {
	width:90%;
	height:100%;
	border-radius:10px;
	border-color:black;
	border-style:solid;
	border-color:white;
	background-color:black;
	outline:none;
}
input.button-2 {
	width:90%;
	height:100%;
	float:right;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	background-color:#38A4A8;
	color:white;
	outline:none;
}
input.button-2:hover {
	width:90%;
	height:100%;
	float:right;
	border-radius:10px;
	border-color:black;
	color:white;
	border-style:solid;
	background-color:#345a99;
	outline:none;
	
}
input.button-2:active {
	width:90%;
	height:100%;
	float:right;
	border-radius:10px;
	border-style:solid;
	border-color:black;
	background-color:black;
	outline:none;
	border-color:white;
}	

